FlightBooking/Connected Services/WebServerReference/FlightsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFlights">
        <s:complexType />
      </s:element>
      <s:element name="getFlightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFlightsResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllFlights">
        <s:complexType />
      </s:element>
      <s:element name="getAllFlightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFlightsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getFlightsSoapIn">
    <wsdl:part name="parameters" element="tns:getFlights" />
  </wsdl:message>
  <wsdl:message name="getFlightsSoapOut">
    <wsdl:part name="parameters" element="tns:getFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFlightsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFlights" />
  </wsdl:message>
  <wsdl:message name="getAllFlightsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFlightsResponse" />
  </wsdl:message>
  <wsdl:portType name="FlightsWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFlights">
      <wsdl:input message="tns:getFlightsSoapIn" />
      <wsdl:output message="tns:getFlightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFlights">
      <wsdl:input message="tns:getAllFlightsSoapIn" />
      <wsdl:output message="tns:getAllFlightsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightsWebServiceSoap" type="tns:FlightsWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFlights">
      <soap:operation soapAction="http://tempuri.org/getFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFlights">
      <soap:operation soapAction="http://tempuri.org/getAllFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FlightsWebServiceSoap12" type="tns:FlightsWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFlights">
      <soap12:operation soapAction="http://tempuri.org/getFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFlights">
      <soap12:operation soapAction="http://tempuri.org/getAllFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightsWebService">
    <wsdl:port name="FlightsWebServiceSoap" binding="tns:FlightsWebServiceSoap">
      <soap:address location="http://localhost:60764/FlightsWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="FlightsWebServiceSoap12" binding="tns:FlightsWebServiceSoap12">
      <soap12:address location="http://localhost:60764/FlightsWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>